
.div1 {
    width: 25rem;
    height: 17rem;
    background-color: #ffe2ed;
    text-align: center;
}

.div2 {
    background-color: #ffe2ed;
    margin-left: 5rem;
}

.p1 {
    padding-top: 5rem;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

